h1 { font-size: 15px; }
  	.testgrid{
		width:100%; 
		border-collapse:collapse; 
	}
	.testgrid td{ 
		padding:7px; border:#4e95f4 1px solid;
	}
	/* Define the default color for all the table rows */
	.testgrid tr{
		background: #b8d1f3;
	}
	/* Define the hover highlight color for the table row */
    .testgrid tr:hover {
          background-color: #ffff99;
    }